<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlockLanding.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{90,17}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,53},{90,17}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,159},{96,19}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,54},{96,19}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,136},{106,21}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,55},{106,21}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,136},{116,21}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,57},{116,21}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,180},{124,21}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,58},{124,21}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,111},{130,23}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{130,23}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{136,25}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,55},{136,25}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{140,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{140,27}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{144,31}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{144,31}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,21},{148,37}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,41},{148,37}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,21},{152,41}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,36},{152,41}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>BlockLanding.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,45}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{160,45}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BlockLanding.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daff4fc8bb26a89c3ae7744e0a8c8a52$</string>
            <key>textureFileName</key>
            <string>BlockLanding.png</string>
        </dict>
    </dict>
</plist>
