<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bounce.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,208},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{74,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bounce.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bounce.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{102,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bounce.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bounce.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,106},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{100,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bounce.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{82,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bounce.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bounce.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:481f92f5864e5975642888dae2ee8261:4b8547d4a11d589e29dc8d140131be16:d65028b6071aa3d3320400557f7c19f9$</string>
            <key>textureFileName</key>
            <string>Bounce.png</string>
        </dict>
    </dict>
</plist>
