<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireball.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,46}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Fireball.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{68,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,44}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>Fireball.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,46}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fireball.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e492f89dcee3b607d5a8a0bf74c108:0254ee3f8a79e3547fee67d997170915:023653f2b8b30a64bfd51cce0682c6c6$</string>
            <key>textureFileName</key>
            <string>Fireball.png</string>
        </dict>
    </dict>
</plist>
