<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FirePulse_explosion.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,292},{112,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{112,34}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{114,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{114,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{114,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{114,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,236},{114,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{114,54}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{116,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,178},{116,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{114,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{114,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{116,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,120},{116,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>FirePulse_explosion.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,62},{116,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FirePulse_explosion.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857881c20f852069aa4648d81ee5f771:9cf5589b34f84f2518cafff11df0f7e7:937d99db5cf993a71c188847d991b515$</string>
            <key>textureFileName</key>
            <string>FirePulse_explosion.png</string>
        </dict>
    </dict>
</plist>
