<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireball_explosion.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,80},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{76,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fireball_explosion.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,236},{76,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fireball_explosion.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c247882ceb3fd67f9aa19b35f82de10:9751480db2bd911712bfce132f5bd357:28268083602247802feee4b2a3d986ba$</string>
            <key>textureFileName</key>
            <string>Fireball_explosion.png</string>
        </dict>
    </dict>
</plist>
