<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SwapColor.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,27},{77,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{77,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{71,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{63,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,106},{57,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{57,31}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{51,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{51,29}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{45,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{45,27}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{39,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{39,23}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,139},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{33,21}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,72},{27,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{27,17}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,151},{21,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{21,13}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>SwapColor.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,138},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{15,11}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SwapColor.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c327af54d2511d8812f536c566ae09c4:751631da6e97327ffd556e9c6c3dab9d:6b76299718e0ae82399b6bde5930e8fa$</string>
            <key>textureFileName</key>
            <string>SwapColor.png</string>
        </dict>
    </dict>
</plist>
