<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Deflector_idle.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,162},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,162},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{78,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{80,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{80,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,356},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{82,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,270},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,182},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{86,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,270},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{84,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,356},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{82,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,178},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{82,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{80,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{78,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,84},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,84},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,84},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_idle.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,162},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Deflector_idle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e78fdd5c1e0cfadbe06597e7502c0441:5bd055a270289c9586465ebb10db3886:f825e50b4167614dc8b701af3d45c7b7$</string>
            <key>textureFileName</key>
            <string>Deflector_idle.png</string>
        </dict>
    </dict>
</plist>
