<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Deflector_spawn.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{142,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,296},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{126,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,152},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{110,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{102,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{96,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,100},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,424},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{82,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{78,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,432},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Deflector_spawn.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,424},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Deflector_spawn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f5476a9e24082149505b675b876ece2:bc05b84ae9ef28600fe28bc974974cb4:af3328f193c272487add764cf0f2a295$</string>
            <key>textureFileName</key>
            <string>Deflector_spawn.png</string>
        </dict>
    </dict>
</plist>
