<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TimeZone_disappearing.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{247,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{247,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_disappearing.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,251},{247,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{247,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_disappearing.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{247,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{247,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_disappearing.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{247,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_disappearing.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{247,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_disappearing.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,500},{247,245}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{247,245}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_disappearing.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-123,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,158},{1,1}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TimeZone_disappearing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0d7f6c882745f679b30bb91cc8c7361:addf3c219ff2f06f0e2ff877646f3c85:354095337103a7ba72b26f42c78d6bb5$</string>
            <key>textureFileName</key>
            <string>TimeZone_disappearing.png</string>
        </dict>
    </dict>
</plist>
