<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VenomWave_spawn.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,49},{1,1}}</string>
                <key>offset</key>
                <string>{-22,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_spawn.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,96},{45,105}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{45,105}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_spawn.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,49},{45,109}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{45,109}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_spawn.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{45,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{45,113}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_spawn.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,117}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_spawn.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{45,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,123}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_spawn.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VenomWave_spawn.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a29501fadc7d309770a5679bb7f5880:84bb5a03ae67aa1d9481ce106c0d9915:322dbbefc470e6f5b04cda729ce88251$</string>
            <key>textureFileName</key>
            <string>VenomWave_spawn.png</string>
        </dict>
    </dict>
</plist>
