<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VenomWave_idle.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,237},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,190},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,143},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,96},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,49},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
            <key>VenomWave_idle.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,125}}</string>
                <key>sourceSize</key>
                <string>{45,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VenomWave_idle.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5cbe0924207a014d12a83bdf21e42cf:0157d76cf73de800099009e53935dad2:db1553be1fcd5cc678f487ccecbadcfe$</string>
            <key>textureFileName</key>
            <string>VenomWave_idle.png</string>
        </dict>
    </dict>
</plist>
