<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TimeZone_spawn.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,547},{247,25}}</string>
                <key>offset</key>
                <string>{0,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,227},{247,25}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_spawn.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{247,89}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,163},{247,89}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_spawn.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,422},{247,123}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,129},{247,123}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_spawn.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,235},{249,185}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,67},{249,185}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_spawn.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{249,231}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{249,231}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_spawn.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,247}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{249,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>TimeZone_spawn.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{247,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{247,247}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TimeZone_spawn.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1465a5686878ec8ee0b5e3108f7d32f:c4576ed49f43417edb1364351a6241a8:92caf8bf95e64dd72a5d8ea8247ae389$</string>
            <key>textureFileName</key>
            <string>TimeZone_spawn.png</string>
        </dict>
    </dict>
</plist>
