<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VenomBall_idle.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>VenomBall_idle.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>VenomBall_idle.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{60,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>VenomBall_idle.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>VenomBall_idle.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>VenomBall_idle.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>VenomBall_idle.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VenomBall_idle.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f9b4c73017e4bdc80dd76f91db563f7:a36d594754f37c6258267b4a75e4bd6b:f2dd06b188314dca9b20a61833d76715$</string>
            <key>textureFileName</key>
            <string>VenomBall_idle.png</string>
        </dict>
    </dict>
</plist>
