<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VenomBall_throw.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,86},{22,44}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,44}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,164},{48,44}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,164},{82,42}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{82,42}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{108,40}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{108,40}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,44},{122,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{122,40}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,122},{124,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{124,40}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,122},{126,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{126,40}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,122},{126,38}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{126,38}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{128,38}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{128,38}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{128,38}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{128,38}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{128,38}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{128,38}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,38}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{130,38}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>VenomBall_throw.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VenomBall_throw.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:559ecc7ba8a7d6c0ccf241a0d57721e5:7f33eb784e85bd7faa880a318c33915b:812b11eda2ad60d76c03f889ed537eda$</string>
            <key>textureFileName</key>
            <string>VenomBall_throw.png</string>
        </dict>
    </dict>
</plist>
