<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_running.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{60,138}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,30},{60,138}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{60,138}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,30},{60,138}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{60,138}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,30},{60,138}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,284},{60,138}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,30},{60,138}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{60,138}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,30},{60,138}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{58,140}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,29},{58,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{58,140}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,29},{58,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,140}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,29},{58,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,140}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,29},{60,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{60,140}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,29},{60,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,140}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,30},{60,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_jumping.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c819c407a9d5af00f53121e57ca5ec5$</string>
            <key>textureFileName</key>
            <string>blue_jumping.png</string>
        </dict>
    </dict>
</plist>
