<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{80,93}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,21},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,419},{80,93}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,19},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,225},{80,95}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,18},{80,95}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,428},{80,97}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,17},{80,97}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,325},{78,101}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,14},{78,101}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{78,103}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,13},{78,103}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{76,105}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,12},{76,105}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{76,105}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,12},{76,105}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,107}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,11},{76,107}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{74,105}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,11},{74,105}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{70,99}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,13},{70,99}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,72},{66,93}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,14},{66,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{68,93}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,13},{68,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,164},{64,93}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,15},{64,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,171},{62,95}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,15},{62,95}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,74},{58,95}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,16},{58,95}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,126},{58,97}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,15},{58,97}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,225},{58,97}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,16},{58,97}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,126},{58,97}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,17},{58,97}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,64},{60,97}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,18},{60,97}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{60,97}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,18},{60,97}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,74},{64,95}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,20},{64,95}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,322},{72,95}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,20},{72,95}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,84},{78,93}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,21},{78,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_running.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a64be2b28e357b20c7af8067a2ace87b$</string>
            <key>textureFileName</key>
            <string>red_running.png</string>
        </dict>
    </dict>
</plist>
