<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,144}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,4},{80,144}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,144}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,5},{80,144}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,140}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,8},{80,140}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{82,138}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,9},{82,138}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{84,136}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,10},{84,136}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,418},{88,128}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,16},{88,128}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{92,120}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,22},{92,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,296},{96,112}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,28},{96,112}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,100},{102,104}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,34},{102,104}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{106,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,40},{106,96}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,204},{110,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{110,90}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_jumping.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea708304ed55ee831f738f71254c4443$</string>
            <key>textureFileName</key>
            <string>red_jumping.png</string>
        </dict>
    </dict>
</plist>
