<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_idle.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{80,93}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,21},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{80,93}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,21},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,166},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,166},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,352},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,259},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,84},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,84},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,84},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,363},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,430},{80,89}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,25},{80,89}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,339},{80,89}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,25},{80,89}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,248},{80,89}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,25},{80,89}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,270},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,177},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{80,91}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,91}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{80,93}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,21},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_idle.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,93}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,21},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_idle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0880c090beb74c401e64f883ecf92e60$</string>
            <key>textureFileName</key>
            <string>red_idle.png</string>
        </dict>
    </dict>
</plist>
