<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,186},{52,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{52,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,214},{50,59}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{50,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,186},{50,59}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{50,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{50,61}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{50,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,54},{50,63}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{50,63}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,52},{50,65}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{50,65}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{50,67}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{50,67}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{48,67}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{48,67}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,67}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{50,67}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{48,65}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{48,65}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,65},{46,63}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{46,63}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{42,59}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{42,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,130},{42,57}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{42,57}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,240},{42,59}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{42,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,284},{40,59}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{40,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,174},{38,61}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{38,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,146},{38,61}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{38,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{38,61}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{38,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,146},{38,61}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{38,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,106},{38,61}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{38,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,104},{40,61}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{40,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{42,61}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{42,61}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,238},{46,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{46,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{50,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{50,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>red_running.0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,186},{52,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{52,59}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_running.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8fbe1a12cd8666a20df412f6ab9e9bb:ac0f2300d5103b75ce1b4c7c33419a92:157c868069038585ba4a3acaf37f53d8$</string>
            <key>textureFileName</key>
            <string>red_running.png</string>
        </dict>
    </dict>
</plist>
