<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>white_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,108},{38,50}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{38,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{38,52}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{38,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{38,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{38,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{38,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{38,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{36,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{36,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,56},{38,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{38,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,148},{38,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,198},{44,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>white_jumping.0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,54},{48,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>white_jumping.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0772b8b743d29bddc41d006777a9836:eebf0a4f7330b515c45269a3742a614c:81f90c64e71a1ebe09941ddcca7825a6$</string>
            <key>textureFileName</key>
            <string>white_jumping.png</string>
        </dict>
    </dict>
</plist>
