<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,273},{51,56}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{51,56}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{51,56}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{51,56}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,220},{51,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{51,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,271},{49,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{49,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,167},{51,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{51,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{51,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{51,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,112},{51,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{51,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,165},{51,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{51,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,112},{53,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{53,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,57},{53,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{53,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{53,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{53,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,57},{53,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{53,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{55,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{53,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{53,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{53,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{53,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{53,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{53,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,57},{53,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{53,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{53,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{53,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{53,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{53,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,218},{53,58}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{53,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,165},{51,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{51,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,112},{51,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{51,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,218},{51,58}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{51,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,273},{51,56}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{51,56}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_running.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e011ce6fadbce4f93ccba6008378a6f:ba92c3525eefcebbe53ba3744d62ec8f:d667e03e129f2750916b9b0bbb91bc70$</string>
            <key>textureFileName</key>
            <string>yellow_running.png</string>
        </dict>
    </dict>
</plist>
