<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_idle.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,278},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,416},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,252},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,190},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,278},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,140},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,278},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,140},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,278},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,140},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,32},{62,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,268},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,416},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,128},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_idle.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,66},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_idle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0e0230a0d283c0bb367f6f9b06902a7$</string>
            <key>textureFileName</key>
            <string>blue_idle.png</string>
        </dict>
    </dict>
</plist>
