<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,184}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,40},{78,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,184}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,40},{80,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{80,184}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,40},{80,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{78,184}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,40},{78,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{78,186}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,39},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{78,186}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,39},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,190},{78,186}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,39},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,190},{78,186}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,39},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,190},{78,186}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,40},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,190},{78,186}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,40},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_jumping.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24d65e2e556c36691283f73b296dc23a$</string>
            <key>textureFileName</key>
            <string>blue_jumping.png</string>
        </dict>
    </dict>
</plist>
