<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,151}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,40},{66,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,151}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,40},{66,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,153}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,39},{66,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{66,153}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,39},{66,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{66,153}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,39},{66,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{66,153}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,40},{66,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{68,153}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,40},{68,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{70,155}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,39},{70,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,157},{74,155}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,39},{74,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,157},{78,155}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,39},{78,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,157},{80,155}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,40},{80,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_jumping.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeb4cf37c73b02aa9e70b501b21d7184$</string>
            <key>textureFileName</key>
            <string>blue_jumping.png</string>
        </dict>
    </dict>
</plist>
