<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,188},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,244},{78,184}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,40},{78,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,82},{80,184}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,40},{80,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{80,184}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,41},{80,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,164},{78,184}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,41},{78,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{78,186}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,40},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{80,186}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,40},{80,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,192},{84,188}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,39},{84,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{90,188}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,39},{90,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{94,188}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,40},{94,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,188}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,40},{98,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_jumping.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e09a25579d1b3ee0aa3e206f83bdce$</string>
            <key>textureFileName</key>
            <string>blue_jumping.png</string>
        </dict>
    </dict>
</plist>
