<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,149}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,56},{66,149}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{70,151}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,54},{70,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{76,151}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,54},{76,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{82,151}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,53},{82,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{90,151}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,53},{90,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{100,149}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,54},{100,149}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{112,147}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,55},{112,147}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,155},{122,143}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,56},{122,143}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,155},{126,141}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,56},{126,141}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,155},{118,137}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,54},{118,137}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{110,137}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,50},{110,137}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,304},{102,141}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,48},{102,141}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{96,153}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,46},{96,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,304},{96,155}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,47},{96,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,304},{94,155}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,49},{94,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{94,155}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,50},{94,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,461},{90,155}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,50},{90,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,461},{86,155}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,50},{86,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,461},{78,155}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,49},{78,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,461},{70,155}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,48},{70,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,461},{66,155}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,48},{66,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{64,155}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,49},{64,155}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,618},{64,153}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,51},{64,153}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
            <key>blue_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,618},{66,151}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,54},{66,151}}</string>
                <key>sourceSize</key>
                <string>{528,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_running.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c70235f42f155836e2e770ccaf407d5$</string>
            <key>textureFileName</key>
            <string>blue_running.png</string>
        </dict>
    </dict>
</plist>
