<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,334},{60,136}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{64,136}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,32},{64,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{70,136}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,32},{70,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{74,136}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,32},{74,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,282},{82,136}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,31},{82,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,240},{92,136}}</string>
                <key>offset</key>
                <string>{-15,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,31},{92,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{104,134}}</string>
                <key>offset</key>
                <string>{-20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,31},{104,134}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,352},{114,130}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,33},{114,130}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,396},{118,128}}</string>
                <key>offset</key>
                <string>{-27,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,33},{118,128}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{110,126}}</string>
                <key>offset</key>
                <string>{-24,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,30},{110,126}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,468},{102,124}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,28},{102,124}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,420},{92,128}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,26},{92,128}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{88,140}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,23},{88,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,90},{86,140}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,25},{86,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{86,142}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,25},{86,142}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,142}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,26},{86,142}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{82,142}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,27},{82,142}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,86},{78,142}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,26},{78,142}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,140},{70,140}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,27},{70,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,166},{62,140}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,26},{62,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{60,140}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,26},{60,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,230},{58,140}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,27},{58,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,178},{60,140}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,28},{60,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>blue_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,290},{60,136}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,32},{60,136}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_running.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239b7136903382dc325977eb08b37332$</string>
            <key>textureFileName</key>
            <string>blue_running.png</string>
        </dict>
    </dict>
</plist>
