<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{84,182}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,42},{84,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{92,182}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,42},{92,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{100,182}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,41},{100,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{108,182}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,41},{108,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{120,180}}</string>
                <key>offset</key>
                <string>{-19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,42},{120,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{136,178}}</string>
                <key>offset</key>
                <string>{-26,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,42},{136,178}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{148,174}}</string>
                <key>offset</key>
                <string>{-32,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,44},{148,174}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{154,172}}</string>
                <key>offset</key>
                <string>{-34,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,43},{154,172}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,186},{144,166}}</string>
                <key>offset</key>
                <string>{-31,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,42},{144,166}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,186},{132,164}}</string>
                <key>offset</key>
                <string>{-15,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,38},{132,164}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,186},{122,172}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,33},{122,172}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,186},{116,186}}</string>
                <key>offset</key>
                <string>{10,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,32},{116,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,186},{116,186}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,34},{116,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,186},{114,188}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,35},{114,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{112,188}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,36},{112,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,376},{110,188}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,37},{110,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,376},{104,188}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,36},{104,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,376},{94,188}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,35},{94,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,376},{84,188}}</string>
                <key>offset</key>
                <string>{-8,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,34},{84,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,376},{78,186}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,35},{78,186}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,376},{78,188}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,35},{78,188}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,376},{78,184}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,39},{78,184}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,376},{80,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_running.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e512881a1054bb0836670b232e7c2e$</string>
            <key>textureFileName</key>
            <string>blue_running.png</string>
        </dict>
    </dict>
</plist>
