<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_idle.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{82,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,186},{82,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,186},{82,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,186},{82,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,186},{82,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,186},{82,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{82,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,370},{82,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,370},{82,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,370},{82,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{82,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,370},{82,182}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,42},{82,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,554},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,554},{80,182}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,42},{80,182}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,554},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,554},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>blue_idle.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,554},{80,180}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,44},{80,180}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_idle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb4b5b50fb673f16e815ad399eab45b$</string>
            <key>textureFileName</key>
            <string>blue_idle.png</string>
        </dict>
    </dict>
</plist>
