<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,388},{106,122}}</string>
                <key>offset</key>
                <string>{24,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,11},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,370},{106,126}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,8},{106,126}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,202},{106,130}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,6},{106,130}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{104,134}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,3},{104,134}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,106},{104,136}}</string>
                <key>offset</key>
                <string>{33,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{102,138}}</string>
                <key>offset</key>
                <string>{35,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,1},{102,138}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{102,140}}</string>
                <key>offset</key>
                <string>{35,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,0},{102,140}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,142}}</string>
                <key>offset</key>
                <string>{36,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,138}}</string>
                <key>offset</key>
                <string>{34,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,106},{94,132}}</string>
                <key>offset</key>
                <string>{31,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,1},{94,132}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,260},{88,126}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,1},{88,126}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,562},{88,122}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,3},{88,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,496},{86,124}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,4},{86,124}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,478},{82,124}}</string>
                <key>offset</key>
                <string>{19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,6},{82,124}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,388},{76,126}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,6},{76,126}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,310},{76,128}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,6},{76,128}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,292},{76,130}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,5},{76,130}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,212},{78,130}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,6},{78,130}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{80,128}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,9},{80,128}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{82,128}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,9},{82,128}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{86,126}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,11},{86,126}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,132},{94,126}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,11},{94,126}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,466},{102,124}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,12},{102,124}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_running.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e942bb727dc88676e9d5b0e432e038$</string>
            <key>textureFileName</key>
            <string>red_running.png</string>
        </dict>
    </dict>
</plist>
