<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_idle.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,110},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,434},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,328},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,328},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,326},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,110},{108,120}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,15},{108,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,546},{108,118}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,17},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,546},{108,118}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,17},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,542},{108,118}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,17},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{108,118}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,17},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,436},{108,118}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,17},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,436},{108,118}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,17},{108,118}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,110},{108,120}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,15},{108,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,220},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,220},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,218},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,15},{106,120}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_idle.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_idle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8821692a27107ec5f3d94d5692ce291d$</string>
            <key>textureFileName</key>
            <string>red_idle.png</string>
        </dict>
    </dict>
</plist>
