<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,122}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,13},{106,122}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{106,116}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,17},{106,116}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{106,114}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,17},{106,114}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,344},{106,112}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,18},{106,112}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,230},{106,112}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,17},{106,112}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,116},{106,112}}</string>
                <key>offset</key>
                <string>{22,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,16},{106,112}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{108,112}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,15},{108,112}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{108,112}}</string>
                <key>offset</key>
                <string>{21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,13},{108,112}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{108,110}}</string>
                <key>offset</key>
                <string>{21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,13},{108,110}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{108,110}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,12},{108,110}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>red_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,228},{108,108}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,12},{108,108}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_jumping.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337cf53fca3c6416d2bab6411515c6e4$</string>
            <key>textureFileName</key>
            <string>red_jumping.png</string>
        </dict>
    </dict>
</plist>
