<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,93}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,21},{80,93}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{80,89}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,89}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{80,85}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{80,85}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,166},{80,85}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,24},{80,85}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,85}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,24},{80,85}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,84},{80,85}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,85}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,85}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,22},{80,85}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,248},{80,83}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,23},{80,83}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,248},{82,83}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,22},{82,83}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,332},{82,81}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,22},{82,81}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>red_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{82,81}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,21},{82,81}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_jumping.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064b6219439ee6d88a4504c13d9eca9d$</string>
            <key>textureFileName</key>
            <string>red_jumping.png</string>
        </dict>
    </dict>
</plist>
