<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{44,50}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{44,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,54},{44,50}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{44,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,212},{42,50}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{42,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{42,52}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{42,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{42,54}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,7},{42,54}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{42,56}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,6},{42,56}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{42,56}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,6},{42,56}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{42,58}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,58}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,56}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,6},{40,56}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,44},{38,54}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,6},{38,54}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,158},{36,50}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{36,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,118},{36,50}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,7},{36,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,118},{36,50}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{36,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,82},{34,52}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,7},{34,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{32,52}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{32,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,158},{32,52}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{32,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,84},{32,52}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{32,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,116},{32,52}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{32,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,82},{32,52}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{32,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,46},{34,52}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,9},{34,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,46},{34,52}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{34,52}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{38,50}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,11},{38,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>red_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,212},{42,50}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{42,50}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_running.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47d91de961fb14cddb88cdbf1a9a094a$</string>
            <key>textureFileName</key>
            <string>red_running.png</string>
        </dict>
    </dict>
</plist>
