<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>white_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,57},{38,53}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{38,53}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{36,55}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{36,55}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{38,55}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{38,55}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{38,53}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,167},{38,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{38,51}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,202},{38,51}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,162},{38,51}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,112},{38,53}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,57},{38,53}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,55}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{38,55}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,53}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,167},{38,53}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,112},{38,53}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,57},{38,53}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,53}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,171},{38,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,122},{38,51}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,82},{38,51}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,42},{38,51}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,112},{38,51}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{38,51}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,116},{38,53}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{38,53}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>white_running.0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,57},{38,53}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{38,53}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>white_running.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03bfdc7679050d5fd7dcc6a4d0bec718:31a58ed95d7e9ba57410d709c81973e9:43a5415a55a1688c92ac504e60b5760d$</string>
            <key>textureFileName</key>
            <string>white_running.png</string>
        </dict>
    </dict>
</plist>
