<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,157}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,38},{118,157}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{120,155}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,39},{120,155}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{120,153}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,39},{120,153}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{120,151}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,39},{120,151}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,124},{122,151}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,38},{122,151}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{124,151}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,37},{124,151}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,128},{126,147}}</string>
                <key>offset</key>
                <string>{20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,37},{126,147}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{130,143}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,38},{130,143}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,248},{132,143}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,36},{132,143}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,382},{134,141}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,37},{134,141}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
            <key>yellow_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,256},{136,141}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,37},{136,141}}</string>
                <key>sourceSize</key>
                <string>{432,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_jumping.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d092859cee8ac399a6578a336d262d31$</string>
            <key>textureFileName</key>
            <string>yellow_jumping.png</string>
        </dict>
    </dict>
</plist>
