<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_jumping.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{49,62}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{49,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{49,62}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{49,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,62}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{49,62}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{49,60}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{49,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,60}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{49,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{49,60}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{49,60}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,59},{51,58}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{51,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,53},{53,58}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{53,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,53},{53,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{53,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,108},{55,56}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{55,56}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>yellow_jumping.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{55,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{55,58}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_jumping.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bfb95153fe9e6e91a3a944d7092f308:51b172910503301a6515a567b5fb5b09:e7303fe5871113c68aed27bb02f673be$</string>
            <key>textureFileName</key>
            <string>yellow_jumping.png</string>
        </dict>
    </dict>
</plist>
