<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,288},{124,137}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,40},{124,137}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{124,137}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,39},{124,137}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,590},{124,141}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,39},{124,141}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{124,145}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,38},{124,145}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{124,149}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,38},{124,149}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{124,151}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,37},{124,151}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,153}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,38},{124,153}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,155},{126,149}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,38},{126,149}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,310},{128,149}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,39},{128,149}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{132,151}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,39},{132,151}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{132,151}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,40},{132,151}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{132,151}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,39},{132,151}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{134,151}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,39},{134,151}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{132,151}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,38},{132,151}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,769},{132,149}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,38},{132,149}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,461},{132,147}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,38},{132,147}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,610},{130,147}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,36},{130,147}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,153},{128,145}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,36},{128,145}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,759},{128,145}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,35},{128,145}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,300},{128,143}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,36},{128,143}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,759},{128,147}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,35},{128,147}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,610},{126,147}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,34},{126,147}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,445},{126,143}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,35},{126,143}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
            <key>yellow_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,149},{126,137}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,39},{126,137}}</string>
                <key>sourceSize</key>
                <string>{432,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_running.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7f385dd6d1265001879c6ec9e278c7$</string>
            <key>textureFileName</key>
            <string>yellow_running.png</string>
        </dict>
    </dict>
</plist>
