<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_running.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,660},{138,152}}</string>
                <key>offset</key>
                <string>{22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,30},{138,152}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{138,152}}</string>
                <key>offset</key>
                <string>{22,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,29},{138,152}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,330},{138,158}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,27},{138,158}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{136,160}}</string>
                <key>offset</key>
                <string>{19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,28},{136,160}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,682},{136,164}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,28},{136,164}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,514},{138,166}}</string>
                <key>offset</key>
                <string>{17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,28},{138,166}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,170}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,27},{136,170}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,338},{140,164}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,28},{140,164}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{144,164}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,29},{144,164}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{146,168}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,28},{146,168}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{146,168}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,29},{146,168}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{148,168}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,28},{148,168}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{148,168}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,28},{148,168}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{148,168}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,27},{148,168}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{146,166}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,27},{146,166}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,172},{146,164}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,26},{146,164}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,848},{144,162}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,25},{144,162}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,682},{142,162}}</string>
                <key>offset</key>
                <string>{18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,23},{142,162}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,168},{142,160}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,23},{142,160}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,338},{142,160}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,20},{142,160}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,504},{140,162}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,21},{140,162}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,846},{140,162}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,21},{140,162}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,500},{140,158}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,23},{140,158}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>yellow_running.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,164},{138,154}}</string>
                <key>offset</key>
                <string>{22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,26},{138,154}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_running.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e9003c6c5a7187231a0a9313213f61e$</string>
            <key>textureFileName</key>
            <string>yellow_running.png</string>
        </dict>
    </dict>
</plist>
