<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancelDrop.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,66},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{11,9}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,31},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{33,17}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{57,27}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{79,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{79,33}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,122},{87,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,37}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{87,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,43},{89,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,213},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,31},{89,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,122},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,122},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,41}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>CancelDrop.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CancelDrop.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68447347aade436f19cb61229eb3ee0c:5945cd1c82d54b1852542335cbb1cedf:64b796927fc07ce839db83b8cc7b249f$</string>
            <key>textureFileName</key>
            <string>CancelDrop.png</string>
        </dict>
    </dict>
</plist>
