<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jaw.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{70,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{68,34}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,78},{70,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{74,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{72,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,34}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{70,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Jaw.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,150},{70,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,34}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jaw.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8be71d3b2d19b8e7ef994d9523f4bf:d5c9a8302ada0216c2c8c434b0603ee3:e70c270e36284596dfc99cc0e3a9dc59$</string>
            <key>textureFileName</key>
            <string>Jaw.png</string>
        </dict>
    </dict>
</plist>
