<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JawDisappearing.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{76,38}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{76,38}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{106,48}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,39},{106,48}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{116,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{116,44}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{132,38}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{132,38}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{140,32}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{140,32}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{144,32}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{144,32}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{146,32}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{146,32}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{148,34}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{148,34}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,36}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{150,36}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
            <key>JawDisappearing.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,36}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{152,36}}</string>
                <key>sourceSize</key>
                <string>{156,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JawDisappearing.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9f4588aeed4bd873c2917f2f83b0bc:f6d122dc0aba04de60bf30d7032e0fd9:f32566f0cafb61a1cd489ffcf041c6f6$</string>
            <key>textureFileName</key>
            <string>JawDisappearing.png</string>
        </dict>
    </dict>
</plist>
