<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PickAxe.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,88},{41,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,45},{35,41}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{35,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,45},{37,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{41,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{41,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{41,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{37,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{37,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PickAxe.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PickAxe.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b310ccc9e37f5c3faa52909611b9de61:a414316bb0b38a8008fb4d6519243de5:7f75bbdcd30fe966886a2435e231bb0e$</string>
            <key>textureFileName</key>
            <string>PickAxe.png</string>
        </dict>
    </dict>
</plist>
