<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerDeath.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,80},{76,76}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{70,70}}</string>
                <key>offset</key>
                <string>{24,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,84},{70,70}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{68,68}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,84},{68,68}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,152},{68,64}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,86},{68,64}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,80},{64,64}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,86},{64,64}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{44,46}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,96},{44,46}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{36,36}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,100},{36,36}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{34,32}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,102},{34,32}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,222},{30,28}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,104},{30,28}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,222},{24,24}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,106},{24,24}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,222},{18,18}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,109},{18,18}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>PlayerDeath.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,242},{12,12}}</string>
                <key>offset</key>
                <string>{26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,112},{12,12}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerDeath.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b57204c1648a0228bb29f6f2edca58$</string>
            <key>textureFileName</key>
            <string>PlayerDeath.png</string>
        </dict>
    </dict>
</plist>
