<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spark.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{30,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Spark.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Spark.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Spark.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Spark.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Spark.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,216},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{26,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Spark.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50f53cc7bb9ab681fbdcca7b79483654$</string>
            <key>textureFileName</key>
            <string>Spark.png</string>
        </dict>
    </dict>
</plist>
