<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spawn_unleashed.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,442},{20,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,88},{20,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,442},{64,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{64,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,192},{110,96}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{110,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,290},{150,126}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,37},{150,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{172,144}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{172,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,556},{178,146}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{178,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{186,148}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{186,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,276},{188,146}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{188,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,146}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{190,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,142}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{190,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{188,136}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{188,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,424},{188,130}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,55},{188,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,146},{190,128}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,61},{190,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{188,124}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,67},{188,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{190,118}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,74},{190,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spawn_unleashed.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{190,114}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,79},{190,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spawn_unleashed.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cf02dd5b647e1fea096ff5f745bebc1$</string>
            <key>textureFileName</key>
            <string>spawn_unleashed.png</string>
        </dict>
    </dict>
</plist>
